/* reset */
body {
    overflow-x : hidden;
    line-height: 1.7;
    color      : #555555;
    background : #fff;
    font-size  : 12px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
dd,
dl,
form {
    margin: 0;
}

img {
    max-width             : 100%;
    height                : auto;
    vertical-align        : top;
    -ms-interpolation-mode: bicubic;
    border                : 0;
}

/* icon font */
@font-face {
    font-family: "iconfont";
    src        : url('font/iconfont.woff') format('woff'),
        url('font/iconfont.ttf?t=1542333212698') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('font/iconfont.svg?t=1542333212698#iconfont') format('svg');
    /* iOS 4.1- */
}

.ion {
    font-family            : "iconfont" !important;
    font-size              : 1.1em;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* page layout */
html,
body {
    height : 100%;
    padding: 0;
}

#app {
    width : 100%;
    height: 100%;
}

/* flex栅格 */
.flex-col {
    overflow          : hidden;
    display           : -ms-box;
    display           : -ms-flexbox;
    display           : flex;
    flex-direction    : column;
    -ms-flex-direction: column;
}

.flex-row {
    overflow: hidden;
    display : -ms-box;
    display : -ms-flexbox;
    display : flex;
}

.flex-1 {
    -ms-flex : 1;
    flex     : 1;
    min-width: 0;
}

.flex-2 {
    -ms-flex : 2;
    flex     : 2;
    min-width: 0;
}

.flex-3 {
    -ms-flex : 3;
    flex     : 3;
    min-width: 0;
}

.flex-4 {
    -ms-flex : 4;
    flex     : 4;
    min-width: 0;
}

.align-stretch {
    -ms-align-items: stretch;
    -ms-flex-align : stretch;
    align-items    : stretch;
}

.align-center {
    -ms-align-items: center;
    -ms-flex-align : center;
    align-items    : center;
}

.justify-center {
    -ms-box-pack   : center;
    -ms-flex-pack  : center;
    justify-content: center;
}

/* 滚动条 */
.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
}

/* 
* 自定义UI
*/

/* 单行文字省略号 */
.el {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}
/* 文字居中 */
.tc{
    text-align: center;
}
/* 头部图标颜色 */
.van-nav-bar .van-icon {
    color: #e5e5e5;
}

/* 按钮默认圆角 */
.van-button {
    border-radius: 6px;
}

.van-field.required::before {
    content   : "*";
    color     : #fe664e;
    position  : absolute;
    left      : 12px;
    top       : 50%;
    margin-top: -10px;
}